@media screen and (max-width: 639px) {
    .col-album {
      width: calc((100% / 2) - (35px / 2));
   }
   .hr-music {
      width: 200px;
   }
    .comandi-musica > span {
      font-size: 22px;
    }
    .play {
      top: 50px;
      left: 55px;
   }
}