@media screen and (max-width: 878px) {
    .col-album {
      width: calc((100% / 4) - (75px / 4));
   }
   .hr-music {
      width: 300px;
   }
   .left img {
      height: 45%;
   }
   .play {
      top: 30px;
      left: 35px;
   }


}